body {
  background-color: black;
}

h1 {
  color: black;
  background-color: white;
  text-align: center;
  margin: 5% 20%;
}

h2 {
  color: black;
  background-color: bisque;
  text-align: center;
  margin: 1% 5%;
}
